.all_number {
  border: 1px solid;
  width: 400px;
  height: 250px;
}

.number {
  border: 1px solid;
  width: 300px;
  height: 100px;
  margin-bottom: 5px;
}

.number {
  text-align: center;
  font-size: 20px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 5px;
}

.number_list {
  margin-top: 5px;
}

table,
td {
  border: solid 1px #333;
}

table {
  width: 300px;
  table-layout: fixed;
}

td {
  width: 10px;
}

.other_count {
  width: 20px;
}
